@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.preview-container {
  background-color: #eaf9f5;
}
.print-area {
  position: relative;
  background-color: #eaf9f5;
  padding: 10mm;
  box-sizing: border-box;
  min-height: 100vh;
}
.print-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/logo.png") no-repeat center center;
  background-size: 60%;
  opacity: 0.1;
  z-index: 1;
}
@media print {
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .col-md-5,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-8 {
    flex: 1;
  }
  .name-column {
    flex: 0 0 50%;
  }
  .age-column {
    flex: 0 0 15%;
  }
  .sex-column {
    flex: 0 0 10%;
  }
}

.prescription-preview h4 {
  font-size: 22px;
  font-weight: 600;
}
.prescription-preview p {
  font-size: 12px;
  margin-bottom: 5px;
}
.info h2 {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #fd7686;
  padding-bottom: 5px;
}
.info .row p {
  margin-bottom: 8px;
}
.patient-info .p {
  display: flex;
  justify-content: space-between;
}
.patient-info .col-md-8,
.patient-info .col-md-2 {
  display: inline-block;
}
.patient-info .col-md-8 p,
.patient-info .col-md-2 p {
  margin: 0;
}
.patient-info .row .col-md-2:last-child {
  display: inline-block;
  width: auto;
  padding-right: 0;
}
.form-control {
  margin-bottom: 10px;
  width: 100%;
}
.form-group h2 {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #fd7686;
  padding-bottom: 5px;
}
